* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Medium.ttf");
}

body {
    font-family: Gilroy, sans-serif;
    width: 100%;
    background-color: #F6F6F6;
}

.header-container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.header {
    border-bottom: 1px solid #828282;
    max-width: 940px;
    height: 88px;
    margin: 0 auto;
    background-color: white;
}

.menu ul {
    list-style: none;
    display: flex;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item a {
    font-weight: bold;
    font-size: 18px;
    color: #828282;
    text-decoration: none;
    cursor: pointer;
}

.menu-item a:hover {
    color: black;

}

.menu-item {
    padding: 32px 0px;
}

/*Main*/

.main-container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.main {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
}

.main-title {
    max-width: 123px;
    font-weight: bold;
    font-size: 47px;
    line-height: 59px;
    color: #070707;
    margin-top: 40px;
}

.main-description {
    max-width: 155px;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    margin-top: 95px;
}

.main-language {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(-90deg);
    margin-top: 66px;
}

.main-language {
    cursor: pointer;
}

.main-language span {
    color: #070707;
    padding: 0;
}

.main-image {
    margin-top: 50px;
    margin-bottom: 104px;
}

/*About*/

.about {
    height: 506px;
    margin: 0 auto;
    background-color: #F6F6F6;
}

.about-title {
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    padding-top: 120px;
}

.about-description {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    max-width: 485px;
    padding-top: 17px;
    margin: 0 auto;
    padding-bottom: 15px;
}

/*Skills*/

.skills-container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.skills {
    max-width: 936px;
    height: 610px;
    margin: 0 auto;
    background-color: white;
}

.skills-title {
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    padding-top: 91px;
}

.skills-description {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    padding-top: 70px;
}

.skills-programs {
    display: flex;
    justify-content: space-around;
    padding-top: 83px;
}

.skill-program {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-info {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    padding-top: 24px;
    padding-bottom: 40px;
    max-width: 78.5px;
}

.skill-info__figma {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    padding-top: 24px;
    max-width: 78.5px;
    padding-bottom: 59px;
}

/*Portfolio*/

.portfolio {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-title {
    padding-top: 112px;
    padding-bottom: 47px;
    align-items: center;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.portfolio-store-link {
    padding-top: 45px;
    padding-bottom: 99px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    cursor: pointer;
}

/*Contacts*/

.contacts-container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.contacts {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-title {
    padding-top: 114px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.contacts-description {
    padding-bottom: 29px;
    max-width: 275px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

.button {
    width: 180.5px;
    height: 42px;
    background-color: black;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 86px;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.contacts-icons {
    max-width: 342px;
    display: flex;
}

.icon-in, .icon-inst, .icon-be {
    padding-right: 62px;
    cursor: pointer;
}

.icon-dribble {
    cursor: pointer;
}

.contacts-post-description {
    padding-top: 45px;
    padding-bottom: 123px;
    max-width: 243px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}


